################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/General/.vs/Study/v16/Server/sqlite3
/Security/WebAppDemoJWT/.vs/WebAppDemoJWT/v16
